{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task</h1>

    {{ include('./_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_task_index') }}" class="btn btn-success mt-4">Retour à la liste</a>

{% endblock %}
