{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
    <h1>Créer un projet</h1>

    {{ include('./_form.html.twig') }}

    <a href="{{ path('app_project_index') }}" class="btn btn-success mt-4">Retour à la liste</a>
{% endblock %}
